<div class="card my-4">
  <div class="p-3">
    <input
      type="text"
      name="post_title"
      style="font-size: 2.2rem; border: 0; outline: 0; font-weight: 900; width: 100%; background-color: #fff"
      placeholder="New post title here..."
    />
  </div>
  <div class="p-3">
    <input
      data-role="tagsinput"
      type="text"
      name="post_tags"
      style="font-size: 1rem; border: 0; outline: 0"
      placeholder="Add up to 4 tags"
    />
  </div>
  <textarea id="create_post_editor"></textarea>
</div>

<div class="mb-4">
  <button class="btn btn-primary" id="publish_button">Publish</button>
  <button class="btn btn-secondary">Save draft</button>
</div>
