<h2 class="my-3">Dashboard</h2>

<!-- basic informations -->
<div class="row">
  <div class="col col-12 col-md-3 mt-2">
    <div class="card p-3">
      <h2>18</h2>
      <p>Total Post Reactions</p>
    </div>
  </div>
  <div class="col col-12 col-md-3 mt-2">
    <div class="card p-3">
      <h2>190</h2>
      <p>Total post views</p>
    </div>
  </div>
  <div class="col col-12 col-md-3 mt-2">
    <div class="card p-3">
      <h2>182</h2>
      <p>Listing created</p>
    </div>
  </div>
  <div class="col col-12 col-md-3 mt-2">
    <div class="card p-3">
      <h2>18</h2>
      <p>Credits available</p>
    </div>
  </div>
</div>

<!-- spacer -->
<div class="my-3"></div>
