<div class="card centered p-3 text-center">
  <h1>Login</h1>

  <form action="/auth/github" method="POST">
    <button class="btn bg-dark text-light mb-2 btn-block" style="width: 100%">Sign in with github</button>
  </form>

  <form action="/auth/facebook" method="POST">
    <button type="submit" class="btn bg-primary text-light mb-2 btn-block" style="width: 100%">
      Sign in with Facebook
    </button>
  </form>
</div>
