* {
  box-sizing: border-box;
}

:disabled {
  cursor: not-allowed !important;
}

/* nav */
nav {
  background-color: #fff !important;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: #f0f0f0;
}

img#site_logo {
  width: 50px;
}

.centered {
  max-width: 400px;
  margin: 1rem auto;
}

.all_post_container {
  max-width: 768px;
  margin: 0 auto;
}

.post_title a {
  text-decoration: none;
  color: #000;
}

.post_title a:hover {
  color: rgb(4, 4, 175);
}

.profile_top .cover_img {
  min-height: 100px;
  background-color: rgb(131, 47, 14);
}

.profile_top .card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid rgb(131, 47, 14);
}

.profile_top .profile_edit_button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* media queries */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem !important;
  }

  .profile_top .card img {
    left: 10px;
    transform: translateX(0);
    height: 80px;
    width: 80px;
  }

  .text-center.make_left_on_small {
    text-align: left !important;
    padding-left: 1rem;
  }
}

.pill a {
  color: #f0f0f0;
}

/* link but not like a link */
a.custom_link {
  text-decoration: none;
}

/* write comment */
.comment_box {
  display: flex;
}

.comment_box .user_avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.comment_box .text_input {
  width: 100%;
}

.comment_box .text_input textarea {
  width: 100%;
}

/* Post comment item with user  */
.user_comment_item {
  display: flex;
  margin: 10px 0;
}

.user_comment_item .user_photo_div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* likes & comment button */
.like_and_comment_wrapper {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  font-weight: 200;
}

.like_and_comment_wrapper .fa {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2rem;
  color: #272727;
}

.like_and_comment_wrapper:hover {
  cursor: pointer;
  background: #f0f0f0;
}
